@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@700&display=swap');

* {
    font-family: 'Andika New Basic', sans-serif;
}

.niceheader div{
    width: 100%;
    padding:30px;
    text-align:left;
    background-color:green;
    font-size: 30px;
    padding-top: 20px;
    border-bottom:6px solid #292929;
}
.niceheader p{
    display:inline;
    position:relative;
    top:-20px;
    font-size:30px;
    padding: 20px;
}
